*{
	margin: 0;
	padding: 0;
}

.details-container {
	background-color: blue;
	width: 100%;
	color: #fff;
	font-size: 1.5rem;
}

.item {
	display: flex;
	border-bottom: 2px solid black;
}

.title {
	margin-left: 10%;
}

.value {
	margin-left: 50%;
}